p{color:green;
}
p, li {
  font-size: 17px;
  line-height: 2;
  letter-spacing: 1px;
}
h1{
  font-size: 65px;
  text-align: center;
  color: deepskyblue;
  margin: 0;
  padding: 25px 0;
  text-shadow: 3px 3px 1px red;


}
p{
  font-family: Arial,Helvetica,Times;
  font-size: 25px;
  color:red;
  font-weight: 700;
}
body{
  margin: auto;
  padding: inherit;
  width: 600px;
  border: 30px solid red;
  background-color: yellow;
  font-style: italic;
}
html{
  background-color: green ;
  font-family: Times, cursive;
}
img{
  display: block;
  margin: 0 auto;


}
